{% extends "crud/base.html" %}{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<section class="max-w-7xl mx-auto px-6 py-12">
	<h1 class="text-3xl font-bold text-gray-800 mb-10">Latest Posts</h1>

	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
		{% for post in posts %}
		<div
			class="bg-white rounded-2xl shadow-md overflow-hidden hover:shadow-xl transition"
		>
			<img
				src="{{ post.image.url }}"
				alt="{{ post.title }}"
				class="w-full h-48 object-cover"
			/>

			<div class="p-6">
				<span class="text-sm text-gray-500">
					{{ post.created_at|date:"M d, Y" }}
				</span>

				<h2 class="text-xl font-bold text-gray-800 mt-2 mb-3">
					{{ post.title }}
				</h2>

				<p class="text-gray-600 text-sm mb-4">
					{{ post.description|truncatechars:60 }}
				</p>

				<a
					href="{{post.get_absolute_url}}"
					class="text-indigo-600 font-semibold hover:underline"
				>
					Read more →
				</a>
				<p class="text-sm text-gray-500">By {{ post.author }}</p>
			</div>
		</div>
		{% empty %}
		<p class="text-gray-500">No posts found.</p>
		{% endfor %}
	</div>
</section>

  {% if is_paginated %}
<div class="flex justify-center mt-8">
  <nav class="inline-flex shadow-sm rounded-md">

    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}"
         class="px-3 py-2 border border-gray-300 bg-white text-gray-700 hover:bg-gray-100">
        Prev
      </a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <span
          class="px-4 py-2 border border-blue-600 bg-blue-600 text-white font-semibold">
          {{ num }}
        </span>
      {% else %}
        <a href="?page={{ num }}"
           class="px-4 py-2 border border-gray-300 bg-white text-gray-700 hover:bg-gray-100">
          {{ num }}
        </a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"
         class="px-3 py-2 border border-gray-300 bg-white text-gray-700 hover:bg-gray-100">
        Next
      </a>
    {% endif %}

  </nav>
</div>
{% endif %}


{% endblock content %}
